@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.modalContent {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 600px;
  padding: 20px;
  background: white;
  overflow: auto;
  border-radius: 20px;
  outline: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7eaf2;
}

.btnAdd {
  position: fixed;
  bottom: 25px;
  width: 44px;
  height: 44px;
  background-color: #24cca7;
  border: none;
  border-radius: 50% 50% 50% 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  z-index: 2;
}

@media (min-width: 320px) {
  .btnAdd {
    left: 90%;
  }

  .modalContent {
    position: absolute;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    left: 0px;
    top: 60px;
  }
}
@media (min-width: 768px) {
  .btnAdd {
    right: 0px;
  }

  .modalContent {
    position: absolute;
    width: 540px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 90px;
    text-align: center;
  }
}
