.lockConfPassword {
  height: 20px;
  width: 25px;
  position: absolute;
  top: 60%;
  left: 0;
  background-image: url('../svg/lock.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
