.diagram_tab_container {
  display: block;
}

.diagram_tab_heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
}

@media (min-width: 768px) {
  .diagram_tab_container {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .diagramPosition {
    position: absolute;
    top: 0;
    right: 0;
  }
}
