.diagram_tab_container {
  display: block;
  background-color: rgba(255, 255, 255, 0.233);
}

.diagram_tab_heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
}

@media (min-width: 768px) {
  .diagram_tab_container {
    display: flex;
  }
}
