td,
th {
  word-wrap: break-word;
}
.table__wrapper {
  border-left: 5px solid #24cca7;
  border-radius: 10px;
  overflow: hidden;
  padding-right: 20px;
}

.table__wrapper.expense {
  border-left: 5px solid #ff6596;
}

.table {
  min-width: 280px;
  border-collapse: collapse;

  background-color: #fff;
}

.trow:not(:last-child) {
  border-bottom: 1px solid #dcdcdf;
}
.tablet__row:not(:last-child) {
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.thead {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding-left: 20px;

  color: #000000;
}

.trow > .tdata {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  padding-right: 20px;

  color: #000000;
}

.trow > .tsum {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  padding-right: 20px;
  color: #24cca7;
}

.tsum.expense {
  color: #ff6596;
}

.td__tablet {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.13;
  color: #000000;
  padding-left: 0;
  padding-right: 0;
}

.td__date {
  composes: td__tablet;
  text-align: left;
  padding-left: 20px;
}

.td__sum {
  composes: td__tablet;

  color: #24cca7;
}

.td__sum.expense {
  color: #ff6596;
}
.redTrash {
  width: 30px;
  height: 30px;
  background-image: url('../../icons/svg/red-trash.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .text__wrapper {
    width: 688px;
  }
}

@media (min-width: 1280px) {
  .text__wrapper {
    width: 700px;
  }
}
