.head {
  margin-bottom: 30px;
  height: 16px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 150px;
  margin-left: auto;
}
.email {
  width: 280px;
  border: 0 solid #fff;
  border-bottom: 1px solid #e0e0e0;
  /* Gray 5 */
}
.password {
  width: 280px;
  border: 0 solid #fff;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 40px;
}
.enter {
  margin-top: 20px;

  border: none;
  outline: none;
  width: 280px;
  height: 50px;
  background: #24cca7;
  border-radius: 20px;
}

.text {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.registration {
  border: none;
  outline: none;

  width: 280px;
  height: 50px;
  margin-top: 20px;

  background: #ffffff;
  border: 1px solid #4a56e2;
  box-sizing: border-box;
  border-radius: 20px;
}
.textRegistration {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4a56e2;
}

.wrraper {
  /* display: flex; */
  flex-direction: column;
  /* width: 250px; */
  margin: auto;
}

/*? Адаптивка началась */
@media (min-width: 320px) {
  .container {
    background-color: #ffffff;
    width: 320px;
    height: 568px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .wrraper {
    /* display: flex; */
    flex-direction: column;
    /* width: 0px; */
    margin: auto;
  }
  .headRegistr {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .container {
    position: absolute;
    left: 25%;
    z-index: 50;
    width: 540px;
    border-radius: 20px;
    height: 616px;
  }
}
@media (min-width: 1280px) {
  .container {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 50;
    width: 540px;
    border-radius: 20px;
    height: 616px;
  }
}
/* width: 540px;
    height: 468px;
    margin-top: 50px;
    margin-left: 100px;
    background: #ffffff;
    border-radius: 20px;
    position: absolute;
    z-index: 100; */
