.table {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  width: 280px;
}

.table_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 58px;
  background-color: #fff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin-top: 20px;
}

.list_container {
  margin-top: 20px;
}

.table_head_category {
  margin-left: 20px;
}

.table_head_sum {
  margin-right: 20px;
}

.list_container {
  /* display: flex; */
  /* justify-content: space-between; */
}

.list_overall_container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  padding-bottom: 35px;
}

.table_list_color {
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
}

.table_list_labels {
  list-style-type: none;
  margin: 0;
  margin-left: 16px;
  flex-grow: 2;
  text-align: left;
}

.table_list_sum {
  list-style-type: none;
  margin-right: 20px;
}

.table_list_item {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 54px;
  text-decoration: none;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.table_list_overall_labels {
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.table_list_overall_sum {
  list-style-type: none;
  margin: 0;
  margin-right: 20px;
}

.table_list_overall_item_red {
  color: #ff6596;
  text-align: right;
}

.table_list_overall_item_green {
  color: #24cca7;
  text-align: right;
}

@media (min-width: 768px) {
  .table {
    width: 350px;
    margin-left: 35px;
  }
  .select_container {
    display: flex;
  }

  .table_head {
    width: 350px;
  }

  /* .table_list_labels {
    margin-right: 75px;
  } */
}

@media (min-width: 1280px) {
  .table {
    margin-left: 30px;
  }
}
