.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.uncheckedIcon,
.checkedIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  color: #e0e0e0;
}

.uncheckedHandleIcon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  font-size: 35px;
  color: white;
}

.plus {
  position: fixed;
  display: flex;
  transform: translate(-50%, -160%);
  width: 20px;
  height: 20px;
  margin: 0;
}

.minus {
  position: fixed;
  display: flex;
  transform: translate(-50%, -1100%);
  width: 20px;
  height: 2px;
  margin: 0;
}

@media (min-width: 320px) {
  .plus,
  .minus {
    opacity: unset;
  }
}
